@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');


/* =============================================================================

============================================================================= */


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    display:flex;
    flex-direction:column;
    position:relative;
    /* In IE10 and IE11, containers with display: flex and flex-direction: column
    will not properly calculate their flexed childrens' sizes if the container
    has min-height but no explicit height property. */
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 25px 0 0 0;
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 1.5;
    color: #21006E;
    background-color: rgb(243,242,247);
}

main {
    /* The defualt is 0 1 auto, but in IE10 the default value for flex is 0 0 auto rather than 0 1 auto.
    IE 11 requires a unit to be added to the third argument, the flex-basis property
    flexGrow/flexShrink/flex-basis - explicit version of flex: 1; */
    flex: 1 1 0%;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: rgba(0,0,0,0.85);
    z-index: 100;
}

noscript > div {
    max-width: 550px;
    margin: 50px auto;
    padding: 25px;
    font-size: 24px;
    color: #EB366E;
    background-color: #FFF;
    border: 2px solid #EB366E;
    border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;  /* bootstrap uses 0.5rem (8px) */
}

/* <a> styles ??? */

button:focus {
    box-shadow: none;
    outline: none;
}

iframe { border: none; }

figure {
    margin: 0;
    padding: 0;
}

/* override Bootstrap margin & padding */
[class*="col"], [class*="row"]{
    margin: 0px;
    padding: 0px;
}

.fancy-h1 {
    margin: 0 0 50px 0;
    padding: 0px 25px;
    color: snow;
    text-align: center;
    font-size: 50px;
    font-family: Montserrat;
    letter-spacing: 3px;
    line-height: 1.25;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: violet;
    text-shadow: -3px 3px 6px rgba(0,0,0,0.15);
}

.fancy-h2 {
    color: snow;
    font-size: 40px;
    font-family: Montserrat;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: violet;
    text-shadow: -2px 2px 4px rgba(0,0,0,0.15);
}



/* =============================================================================

============================================================================= */
/* The range slider's value bubble has a lesser z-index than the range slider's
thumb. The thumb is styled to be transparent, but can still be interacted with. */


.custom-range-outer-container {
    display:flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1;
}

.custom-range-outer-container span {
    font-family: Montserrat;
    font-size: 18px;
}

.custom-range-outer-container span:first-of-type { margin-right: 20px; }

.custom-range-outer-container span:last-of-type { margin-left: 20px; }

.custom-range-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
}

.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 50px;
    height: 25px;
    line-height: 25px;
    color: white;
    text-align:center;
    background: #EB366E;
    border-radius: 10px;
}


/* =============================================================================

============================================================================= */
/* -webkit-appearance: none;  necessary for -webkit overwrites. */


.xx-custom-range {
    margin: 0 auto;
    width: 100%;
    padding: 0;  /* Necessary for IE 11. */
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.xx-custom-range:focus { outline: none; }


/* ===========================
          -webkit
=========================== */


.xx-custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: #21006E;
    border: none;
    border-color: transparent;
    border-radius: 25px;
}

.xx-custom-range:focus::-webkit-slider-runnable-track  {
    background-color: #21006E;
}

/* Because the thumb is transparent, but has a higher z-index, it can be moved,
while still displaying the value bubble. */
.xx-custom-range::-webkit-slider-thumb {
    position: relative;
    width: 50px;
    height: 25px;
    margin: -8px 0 0 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border:none;
    border: 0;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    z-index: 1;
}

.xx-custom-range::-webkit-slider-thumb:active {
    background-color: transparent;
}


/* ===========================
          -moz
=========================== */


.xx-custom-range::-moz-range-track {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: #21006E;
    border: none;
    border-color: transparent;
    border-radius: 25px;
}

.xx-custom-range::-moz-range-thumb {
    position: relative;
    width: 50px;
    height: 25px;
    margin: -8px 0 0 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: none;
    border: 0;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}

.xx-custom-range::-moz-range-thumb:active {
    background-color: transparent;
}

.xx-custom-range::-moz-focus-outer { border: 0; }


/* ===========================
          -ms
=========================== */


.xx-custom-range::-ms-track {
    width: 100%;
    height: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border: none;
    border-color: transparent;
    border-radius: 25px;
}

.xx-custom-range::-ms-fill-lower {
    background: #EB366E;
    border-radius: 25px;
}

.xx-custom-range::-ms-fill-upper {
    background: #21006E;
    border-radius: 25px;
}

.xx-custom-range::-ms-thumb {
    position: relative;
    width: 50px;
    height: 25px;
    margin: -8px 0 0 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border:none;
    border: 0;
    border-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    appearance: none;
    /*  z-index seems not to be working in IE 11.
    In Internet Explorer positioned elements generate a new stacking context,
    starting with a z-index value of 0. Therefore z-index doesn’t work correctly.
    This issue might be fixable if there was a programmatic way to set -ms-thumb...
    See .fake-bar fix below. */
    z-index: 1;
}

.xx-custom-range::-ms-thumb:active {
    background-color: transparent;
}

.xx-custom-range::-ms-tooltip { display:none; }

/* Set track color while focused. */
/* .xx-custom-range:focus::-ms-fill-lower { background: ??? }
.xx-custom-range:focus::-ms-fill-upper { background: ???  } */


/* ===========================
      .fake-track fix
=========================== */
/* Firefox and IE 11 suffer from a real issue where there's no good way to get the
transparent thumb in front of the .bubble, but still have the .bubble on top of the
track. The solution is to create a transparent track, and add in a fake track that
always sits behind the .bubble. Note that <div class="bubble"></div> comes AFTER
<div class="fake-bar"></div> in the HTML. */


.fake-track {
    display: block;
    position:absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    width: 100%;
    height: 10px;
    background: #21006E;
    border-radius: 25px;
}

.xx-custom-range {
    position: relative;
    background-color: transparent;
    z-index: 1;
}

.xx-custom-range::-webkit-slider-runnable-track {       background: transparent; }
.xx-custom-range:focus::-webkit-slider-runnable-track { background: transparent; }
.xx-custom-range::-moz-range-track {                    background: transparent; }
.xx-custom-range::-ms-fill-lower {                      background: transparent; }
.xx-custom-range::-ms-fill-upper {                      background: transparent; }
